# Datathon Info

In [14]:
library(tidyverse)

In [6]:
sales = read_csv("sales.csv")
head(sales)
items = read_csv("items.csv")
head(items)

Rows: 32605 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): item_name, transaction_type, own_cup
dbl  (1): customer_id
lgl  (1): surcharge
date (1): date
time (1): time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  date       time     item_name   transaction_type own_cup surcharge
1 2022-01-01 07:03:30 Cold Brew   Takeout          True    FALSE
2 2022-01-01 07:30:58 Iced Coffee Takeout          True    FALSE
3 2022-01-01 08:32:23 Iced Latte  Takeout          False   FALSE
4 2022-01-01 08:45:03 Latte       Dine-in          True    FALSE
5 2022-01-01 09:03:47 Latte       Takeout          False   FALSE
6 2022-01-01 10:02:30 Flat White  Takeout          True    FALSE
  customer_id
1 26946
2 24356
3  3760
4  5900
5 11589
6  1786

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”
Rows: 17 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): item_name, item_type, drink_temperature, drink_type
dbl (2): price, production_cost

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  item_name  price production_cost item_type drink_temperature drink_type
1 Espresso   3.00  0.80            Drink     Hot               Coffee
2 Americano  3.50  1.00            Drink     Hot               Coffee
3 Latte      4.50  1.20            Drink     Hot               Coffee
4 Cappuccino 4.25  1.15            Drink     Hot               Coffee
5 Flat White 4.75  1.25            Drink     Hot               Coffee
6 Mocha      4.80  1.40            Drink     Hot               Coffee

In [25]:
items_mutate <- items %>%
        mutate(profit = price - production_cost)
head(items_mutate)


items_summary <- items %>%
        group_by(item_name) %>%
        summarize(mean_price = mean(price),
               mean_prod_cost = mean(production_cost),
                 mean_profit = mean_price - mean_prod_cost) %>%
        arrange(-mean_profit)
items_summary

  item_name  price production_cost item_type drink_temperature drink_type
1 Espresso   3.00  0.80            Drink     Hot               Coffee
2 Americano  3.50  1.00            Drink     Hot               Coffee
3 Latte      4.50  1.20            Drink     Hot               Coffee
4 Cappuccino 4.25  1.15            Drink     Hot               Coffee
5 Flat White 4.75  1.25            Drink     Hot               Coffee
6 Mocha      4.80  1.40            Drink     Hot               Coffee
  profit
1 2.2
2 2.5
3 3.3
4 3.1
5 3.5
6 3.4

   item_name           mean_price mean_prod_cost mean_profit
1  Coffee Beans (1 lb) 18.00      8.00           10.00
2  Reusable Coffee Cup 15.00      6.00            9.00
3  Tote Bag            12.00      4.00            8.00
4  Iced Matcha Latte    5.25      1.60            3.65
5  Matcha Latte         5.25      1.60            3.65
6  Flat White           4.75      1.25            3.50
7  Chai Latte           4.90      1.50            3.40
8  Cold Brew            4.75      1.35            3.40
9  Mocha                4.80      1.40            3.40
10 Iced Latte           4.60      1.25            3.35
11 Latte                4.50      1.20            3.30
12 Hot Chocolate        4.25      1.10            3.15
13 Cappuccino           4.25      1.15            3.10
14 Iced Coffee          4.00      1.10            2.90
15 Green Tea            2.90      0.20            2.70
16 Americano            3.50      1.00            2.50
17 Espresso             3.00      0.80            2.20

In [24]:
sales_summary <- sales %>%
        group_by(item_name) %>%
        summarize(n = n()) %>%
        arrange(-n)
sales_summary

   item_name           n
1  Iced Matcha Latte   3279
2  Iced Coffee         2695
3  Green Tea           2639
4  Latte               2439
5  Americano           2392
6  Iced Latte          2367
7  Chai Latte          2362
8  Mocha               2300
9  Cappuccino          2179
10 Matcha Latte        1790
11 Hot Chocolate       1774
12 Cold Brew           1502
13 Espresso            1461
14 Flat White          1282
15 Coffee Beans (1 lb)  738
16 Reusable Coffee Cup  728
17 Tote Bag             678

- indicates that selling lots of matcha lattes is the most profitable -> suggest that make more speciality types of matcha such as strawberry matcha, etc. which can be sol