# Datathon Info

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [6]:
sales = read_csv("sales.csv")
head(sales)
items = read_csv("items.csv")
head(items)

Rows: 32605 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): item_name, transaction_type, own_cup
dbl  (1): customer_id
lgl  (1): surcharge
date (1): date
time (1): time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  date       time     item_name   transaction_type own_cup surcharge
1 2022-01-01 07:03:30 Cold Brew   Takeout          True    FALSE
2 2022-01-01 07:30:58 Iced Coffee Takeout          True    FALSE
3 2022-01-01 08:32:23 Iced Latte  Takeout          False   FALSE
4 2022-01-01 08:45:03 Latte       Dine-in          True    FALSE
5 2022-01-01 09:03:47 Latte       Takeout          False   FALSE
6 2022-01-01 10:02:30 Flat White  Takeout          True    FALSE
  customer_id
1 26946
2 24356
3  3760
4  5900
5 11589
6  1786

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”
Rows: 17 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): item_name, item_type, drink_temperature, drink_type
dbl (2): price, production_cost

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  item_name  price production_cost item_type drink_temperature drink_type
1 Espresso   3.00  0.80            Drink     Hot               Coffee
2 Americano  3.50  1.00            Drink     Hot               Coffee
3 Latte      4.50  1.20            Drink     Hot               Coffee
4 Cappuccino 4.25  1.15            Drink     Hot               Coffee
5 Flat White 4.75  1.25            Drink     Hot               Coffee
6 Mocha      4.80  1.40            Drink     Hot               Coffee